.home {
  font-size: 14px;
  font-family: raleway;
  .nav-bar{
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.17);
    border-bottom: 1px solid rgba(221, 221, 221, 0.27);
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 3;
    .logo{
      font-size: 21px;
      float: left;
      margin-top: 18px;
      margin-left: 130px;
      font-weight: lighter;
      color: #fff;
    }
    .nav-bar-menu{
      margin-top: 25px;
      a{
        color: #fff;
        text-decoration: none;
        padding-left: 15px;
      }
    }
  }
  .nav-bar-active{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 1px #ddd;
    .logo{
      color: #333;
    }
    a{
      color: #333 !important;
    }
  }
  .box-container{
    width: 100%;
    height: 95vh;
    background-color: #fff;
    z-index: 1;
    video{
      position: absolute;
      bottom: 0px;
      right: 0px;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden;
      margin-left: 50%;
      z-index: 1;
    }
    .opacity{
        background: rgba(27, 0, 25, 0.82);
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
    }
    .content-box{
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        top: 155px;
        z-index: 2;
        text-align: center;
        margin-left: 25px;
        position: relative;
      .slogan-box{
        color: #fff;
        font-size: 50px;
        z-index: 2;
        font-weight: 300;
        margin-top: 100px
      }
      p{
        color: #fff;
        font-size: 14px;
        z-index: 2;
        text-align: center;
        margin-top: 20px;
      }
      .btn-blue{
        background: transparent;
        color: #fff;
        padding: 13px;
        border: 1px solid #fff;
        width: 100px;
        font-size: 14px;
        margin: 0px auto;
        text-align: center;
        margin-top: 70px;
        transition: 1s all ease;
        &:hover{
          border: 1px solid #AD2859;
          background: #AD2859;
        }
      }
    }
  }
  .title-sections{
      max-width: 855px;
      margin: 0px auto;
      margin-top: 95px;
      font-size: 23px;
      font-weight: lighter;
      line-height: 39px;
      color: #3A3939;
    p{
      font-size: 13px;
    }
  }
  .customers{
      width: 100%;
      min-height: 150px;
      border-bottom: 1px solid #ddd;
      background: #fff;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      margin-top: 35px;
      z-index: 2;
      position: relative;
      padding-bottom: 20px;
      img{
        width: 150px;
      }
      .customer-2{
        margin-top: 40px;
        padding-left: 60px;
      }
      .customer-3{
        margin-top: 32px;
        padding-left: 60px;
      }
  }
  .about-intro{
    width: 100%;
    text-align: center;
    .about-intro-content{
        width: 100%;
        max-width: 970px;
        margin: 0px auto;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding-top: 80px;
    }
    .testers{
      width: 390px;
      height: 210px;
      background: #f8f8f8;
      margin: 10px;
      border: 1px solid rgba(208, 187, 199, 0.44);
      .opinion{
          text-align: center;
          font-size: 15px;
          color: rgb(102, 102, 102);
          margin-top: 20px;
          padding: 10px;
      }
      .people-name span{
          margin-top: 85px;
          color: #666666;
          float: left;
          margin-left: 13px;
          font-size: 14px;
      }
      .people-name img{
          width: 43px;
          height: 45px;
          border-radius: 30px;
          float: left;
          margin-top: 70px;
          margin-left: 25px;
          opacity: .7;
      }
    }
  }
  .portafolio{
      width: 100%;
      background: #292929;
      margin-top: 90px;
      padding-bottom: 90px;
      .title-sections{
        color: #fff;
        text-align: center;
        padding-top: 90px;
      }
      .content-portafolio{
        margin: 0px auto;
        max-width: 1351px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding-top: 80px;
      }
      .item-portafolio{
          width: 390px;
          height: 210px;
          background: #f8f8f8;
          background-size: cover;
          margin: 10px;
          opacity: .2;
          &:hover{
            opacity: .5;
          }
      }
      #one-p{
          background-image: url("../images/cap1.png");
      }
      #two-p{
          background-image: url("../images/cap3.png");
      }
      #three-p{
          background-image: url("../images/cap8.jpg");
      }
      #four-p{
          background-image: url("../images/cap9.jpg");
      }
      #five-p{
          background-image: url("../images/cap10.jpg");
      }
      #six-p{
          background-image: url("../images/cap11.png");
      }
  }
  .packs{
    width: 100%;
    height: 612px;
    margin-top: -10px;
    .title-sections{
      text-align: center;
    }
  }
  .team{
    width: 100%;
    height: 650px;
    background-color: #1e1f34;
    margin-top: 50px;
    .left-bar{
        width: 275px;
        min-height: 650px;
        position: absolute;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background: #fff;
    }
  }
  .contact{
    width: 100%;
    border-top: 1px solid #ddd;
    text-align: center;
    .contact-content{
      width: 90%;
      margin: 0px auto;
      margin-top: 60px;
      input{
        width: 50%;
        text-align: center;
        border-radius: 2px;
        border: 1px solid #244FF6;
        height: 25px;
        margin-top: 20px;
        color: #F54B6F;
        &#message-area{
          height: 160px;
        }
      }
    }
  }
  .footer-section{
    width: 100%;
    height: 110px;
    background: #292929;
    margin-top: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa{
      margin: 25px;
    }
  }
}

// Responsive Web Design
@media screen and (max-width: 515px){
    .home{
      .customers{
        .customer-3{
          padding-left: 0;
        }
      }
    }
}
